{% extends "base.html" %}

{% block content %}

<h2>Receive Goods</h2>

<div class="alert alert-info">

Goods In ID: {{ goods_in.id }}

</div>

<div class="card">

<div class="card-body">

<form method="POST">

{{ form.hidden_tag() }}

<div class="row">

<div class="col-md-6 mb-3">

{{ form.product_id.label }}

{{ form.product_id(class="form-select") }}

</div>

<div class="col-md-6 mb-3">

{{ form.batch_number.label }}

{{ form.batch_number(class="form-control") }}

</div>

</div>

<div class="row">

<div class="col-md-4 mb-3">

{{ form.manufacture_date.label }}

{{ form.manufacture_date(class="form-control") }}

</div>

<div class="col-md-4 mb-3">

{{ form.expiry_date.label }}

{{ form.expiry_date(class="form-control") }}

</div>

<div class="col-md-4 mb-3">

{{ form.quantity.label }}

{{ form.quantity(class="form-control") }}

</div>

</div>

<div class="mb-3">

{{ form.warehouse_location.label }}

{{ form.warehouse_location(class="form-control") }}

</div>

<button class="btn btn-success">

Add Product To Shipment

</button>

</form>

<hr>

<h4>Received Products</h4>

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th>Product</th>
            <th>Batch</th>
            <th>Qty</th>
            <th>Location</th>
        </tr>

    </thead>

    <tbody>

    {% for item in items %}

        <tr>

            <td>{{ item.product.name }}</td>

            <td>{{ item.batch.batch_number }}</td>

            <td>{{ item.quantity }}</td>

            <td>{{ item.batch.warehouse_location }}</td>

        </tr>

    {% else %}

        <tr>

            <td colspan="4" class="text-center">

                No products received yet.

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

</div>

</div>

{% endblock %}
