{% extends "base.html" %}

{% block title %}New User{% endblock %}

{% block content %}

<h2 class="mb-3">

Create User

</h2>

<div class="card shadow">

<div class="card-body">

<form method="POST">

{{ form.hidden_tag() }}

<div class="mb-3">

{{ form.fullname.label }}

{{ form.fullname(class="form-control") }}

</div>

<div class="mb-3">

{{ form.username.label }}

{{ form.username(class="form-control") }}

</div>

<div class="mb-3">

{{ form.password.label }}

{{ form.password(class="form-control") }}

</div>

<div class="mb-3">

{{ form.role.label }}

{{ form.role(class="form-select") }}

</div>

<div class="form-check mb-3">

{{ form.is_active(class="form-check-input") }}

{{ form.is_active.label(class="form-check-label") }}

</div>

{{ form.submit(class="btn btn-primary") }}

</form>

</div>

</div>

{% endblock %}
